.grid-container {
    position: absolute;
    top: 20%;
    right: 5%;
    display: grid;
    column-gap: 50px;
    row-gap: 100px;
    grid-template-columns: auto auto;
}

.grid-item {
    width: 400px;
    height: 100px;
    padding: 20px;
    font-size: 30px;
    border: 0px;
}

.grid-container-topping {
    position: absolute;
    top: 28%;
    right: 5%;
    display: grid;
    column-gap: 50px;
    row-gap: 100px;
    grid-template-columns: auto auto;
}

.grid-item-topping {
    width: 400px;
    height: 100px;
    padding: 20px;
    font-size: 30px;
    border: 0px;
}

.grid-container-toppingitems {
    position: absolute;
    top: 25%;
    right: 5%;
    display: grid;
    column-gap: 50px;
    row-gap: 100px;
    grid-template-columns: auto auto auto;
}

.grid-item-toppingitems {
    width: 300px;
    height: 100px;
    padding: 20px;
    font-size: 25px;
    border: 0px;
}

.grid-container-topping3 {
    position: absolute;
    top: 26%;
    right: 4%;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
}

.grid-item-topping3 {
    width: 300px;
    height: 100px;
    padding: 15px;
    font-size: 25px;
    border: 0px;
}

.grid-container-checkout {
    position: absolute;
    top: 50%;
    right: 12%;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
}

.grid-container-sauces {
    position: absolute;
    top: 26%;
    right: 15%;
    display: grid;
    column-gap: 150px;
    row-gap: 50px;
    grid-template-columns: 200px 200px 200px;
}

.grid-item-sauce {
    width: 300px;
    height: 100px;
    padding: 15px;
    margin-bottom: 25px;
    font-size: 25px;
    border: 0px;
}

.order-container {
    position: absolute;
    top: 10%;
    left: 8%;
    display: grid;
    row-gap: 10px;
    grid-template-columns: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70%;
    height: 70%;
    width: 35%;
}

.backButton {
    position: absolute;
    bottom: 0%;
    font-size: 35px;
    padding: 15px;
    width: fit-content;
    min-width: 300px;
}

.nextButton {
    position: absolute;
    bottom: 0%;
    font-size: 35px;
    padding: 15px;
    width: 300px;
    right: 0%;
}

.pageTitle {
    position: absolute;
    font-size: 60px;
    top: 5%;
    right: 20%;
}

.pageTitle-topping {
    position: absolute;
    font-size: 60px;
    top: 13%;
    left: 40%;
}

.pageTitle-checkout {
    position: absolute;
    font-size: 60px;
    top: 13%;
    right: 20%;
}

.orderDisplay {
    position: relative;
    left: 100px;
    font-size: 20px;
}

.priceDisplay {
    position: absolute;
    font-size: 30px;
    bottom: 8%;
    left: 20%;
}

.pizzaInfoTitle {
    position: absolute;
    top: 19%;
    left: 10%;
}

.pizzaInfo {
    position: absolute;
    font-size: 28px;
    width: 80%;
    max-height: 10%;
    left: 5%;
    top: 3%;
}

.pizzaBuilder {
    position: absolute;
    top: 0%;
    left: 5%;

}

.disclaimer {
    position: absolute;
    bottom: 10%;
    font-size: 28px;
    left: 8%;
}

.or {
    position: absolute;
    top: 40%;

    right: 40%;
}

.mapTitle {
    position: absolute;
    font-size: 50px;
    top: 8%;
    left: 10%;
}

.mapdisplay {
    max-width: 50%;
    position: relative;
    left: 45%;
    margin-top: 5%;
}